.filters-container {
  display: flex;
  max-height: 153px;
  background-color: #1565C0;
  padding: 36px 0 69px 44px;
  gap: 14px;
  align-items: center;
  flex-wrap: wrap;
}

.show-activity-label {
  margin-right: 8px;
}