.app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.data-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  z-index: 2;
  padding: 20px;
}

.table-wrapper {
  max-height: 50vh;
}

@media only screen and (min-width: 1200px) {
  .data-content {
    margin-top: -28px;
    grid-template-columns: 905px 330px;
    gap: 20px;
    padding: 0 0 69px 44px;
  }
}